@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --font-fam:"Josefin Sans", sans-serif;
  --font-thin: 400;
  --font-thick: 700;
  --text-active: hsl(220, 98%, 61%);
  --text-dark:hsl(234, 11%, 52%);
  --bg-check: linear-gradient(45deg, hsl(192, 100%, 67%) ,hsl(280, 87%, 65%));
}

* {
  box-sizing: border-box;
}

.clear {
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: var(--bg-focus);
  border-radius: 2em;
  z-index: 99;
  color: var(--text);
  font-family: var(--font-fam);
  text-align: center;
  padding: 20px 0;
  filter: invert(100);
  cursor: pointer;
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  --background: rgb(250, 250, 250);
  --bg-focus: rgb(255, 255, 255);
  --text: rgb(82, 81, 95);
  --text-hover:rgb(65, 65, 89);
  --bg-img-desk:url(../images/bg-desktop-light.jpg);
  --bg-img-mobile: url(../images/bg-mobile-light.jpg);
  background-color: var(--background);
}

.darkmode {
  --background: rgb(24, 24, 36);
  --bg-focus: rgb(37, 39, 60);
  --text: rgb(199, 201, 226);
  --text-hover:rgb(219, 222, 241);
  --bg-img-desk:url(../images/bg-desktop-dark.jpg);
  --bg-img-mobile: url(../images/bg-mobile-dark.jpg);
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 37%;
  left: 50%;
  top: 8%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.content .top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 3em;
}
.content .top-row .darkmode-icon:hover {
  cursor: pointer;
  color: var(--text-hover);
}
.content .input {
  background-color: var(--bg-focus);
  border-radius: 0.5em;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 2em;
  margin: 1em 0;
  box-shadow: 4px 4px 50px 1px rgba(0, 0, 0, 0.25);
}
.content .input input {
  width: 90%;
  font-family: var(--font-fam);
  font-size: 1.5em;
  line-height: 2em;
  border: none;
  background: none;
  color: var(--text);
  outline: none;
  padding-top: 0.5em;
}
.content .list {
  background-color: var(--bg-focus);
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  margin: 1em 0;
  box-shadow: 4px 4px 50px 1px rgba(0, 0, 0, 0.25);
}
.content .list ul {
  padding: 0;
  margin: 0;
}
.content .list .list-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 2em 2px;
}
.content .list .list-end .remaining {
  font-family: var(--font-fam);
  font-size: 1em;
  border: none;
  background: none;
  color: var(--text-dark);
  font-weight: 600;
}
.content .list .list-end button {
  font-family: var(--font-fam);
  font-size: 1em;
  border: none;
  background: none;
  color: var(--text-dark);
  font-weight: 600;
}
.content .list .list-end button:hover {
  color: var(--text);
  cursor: pointer;
}
.content .list .list-end button:active {
  color: var(--text-active);
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 2em;
  border-bottom: 1.5px solid rgba(117, 117, 117, 0.2);
}
.list-item p {
  width: 85%;
  font-family: var(--font-fam);
  font-size: 1.4em;
  color: var(--text);
}
.list-item .delete-btn {
  opacity: 0;
}
.list-item .delete-btn img {
  height: 1.6em;
}
.list-item .delete-btn:hover {
  cursor: pointer;
}
.list-item:hover {
  cursor: grab;
}
.list-item:hover .delete-btn {
  opacity: 100%;
}

.completed p {
  color: var(--text-dark);
  text-decoration: line-through;
}

h1 {
  font-family: var(--font-fam);
  color: white;
  font-size: 3.3em;
  padding: 0;
  margin: 0;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: var(--bg-img-desk);
  background-repeat: no-repeat;
  background-size: 100%;
}

.check {
  display: block;
  position: relative;
  height: calc(1.2em + 2px);
  width: calc(1.2em + 2px);
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: var(--bg-focus);
  border: 1px solid var(--text-dark);
  border-radius: 50%;
}
.check .checkmark img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -40%);
  opacity: 0%;
  height: auto;
  width: 0.8em;
}

.check:hover input ~ .checkmark {
  background-color: var(--bg-focus);
  background: linear-gradient(var(--bg-focus), var(--bg-focus)) padding-box, var(--bg-check) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.check input:checked ~ .checkmark {
  background-image: var(--bg-check);
  border: none;
}
.check input:checked ~ .checkmark img {
  opacity: 100%;
}

.toggle-btns {
  display: flex;
  flex-direction: row;
}
.toggle-btns div {
  padding: 0 1em;
}
.toggle-btns p {
  font-family: var(--font-fam);
  font-size: 1em;
  border: none;
  background: none;
  color: var(--text-dark);
  font-weight: 600;
}
.toggle-btns .on p {
  color: var(--text-active);
}
.toggle-btns div:hover {
  cursor: pointer;
}
.toggle-btns div:hover p {
  color: var(--text);
}

.mobile {
  display: none;
}

.background-tint {
  background-color: rgba(58, 58, 58, 0.1);
}

.grabbing * {
  cursor: grabbing !important;
}

.hint {
  font-family: var(--font-fam);
  font-size: 1em;
  border: none;
  background: none;
  color: var(--text-dark);
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 60%;
  }
}
@media only screen and (max-width: 900px) {
  .background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: var(--bg-img-mobile);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  h1 {
    font-size: 2em;
  }
  .check {
    height: calc(1em + 2px);
    width: calc(1em + 2px);
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0 10px 0 0;
  }
  .check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    border-radius: 50%;
  }
  .check .checkmark img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -40%);
    opacity: 0%;
    height: auto;
    width: 0.5em;
  }
  .content {
    width: 80%;
  }
  .content .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3em 0;
  }
  .content .top-row .darkmode-icon:hover {
    cursor: pointer;
    color: var(--text-hover);
  }
  .content .input {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin: 1em 0;
    box-shadow: 4px 4px 50px 1px rgba(0, 0, 0, 0.25);
  }
  .content .input input {
    width: 90%;
    font-family: var(--font-fam);
    font-size: 1em;
    line-height: 2em;
    padding-top: 0.5em;
  }
  .content .list .list-end {
    padding: 8px 1em 8px;
  }
  .content .list .list-end .toggle-btns {
    display: none;
  }
  .content .list .list-end .remaining {
    font-size: 0.8em;
  }
  .content .list .list-end button {
    font-size: 0.8em;
  }
  .content .list .list-end button:hover {
    color: var(--text);
    cursor: pointer;
  }
  .content .list .list-end button:active {
    color: var(--text-active);
  }
  .list-item {
    padding: 4px 1em 0;
    border-bottom: 1.5px solid rgba(58, 58, 58, 0.2);
  }
  .list-item p {
    width: 85%;
    font-family: var(--font-fam);
    font-size: 0.8em;
    color: var(--text);
  }
  .list-item .delete-btn {
    opacity: 100%;
  }
  .list-item .delete-btn img {
    height: 1em;
  }
  .list-item .delete-btn:hover {
    cursor: pointer;
  }
  .list-item:hover {
    cursor: grab;
  }
  .toggle-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg-focus);
    border-radius: 0.5em;
    margin: 1em 0;
    box-shadow: 4px 4px 50px 1px rgba(0, 0, 0, 0.25);
  }
  .toggle-btns div {
    padding: 0 1em;
  }
  .toggle-btns .on p {
    color: var(--text-active);
  }
  .toggle-btns div:hover {
    cursor: pointer;
  }
  .toggle-btns div:hover p {
    color: var(--text);
  }
  .mobile {
    display: flex;
  }
}/*# sourceMappingURL=stylesheet.css.map */