$button: hsl(12, 88%, 59%);
$button-active: hsl(13, 100%, 96%);

$text-blue:hsl(228, 39%, 23%);
$text-gray: hsl(227, 12%, 61%);

$dark-blue: hsl(233, 12%, 13%);
$white: hsl(0, 0%, 98%);

$font: "Be Vietnam Pro", sans-serif;




@mixin font-400{
    font-family: $font;
    font-weight: 400;
}

@mixin font-500{
    font-family: $font;
    font-weight: 500;
}

@mixin font-700{
    font-family:$font;
    font-weight:700;
}

@mixin proxyborder{
    border:1px solid red;
}


*{
    box-sizing: border-box;
}

body{
    padding:0;
    border:0;
    width:100%;
    margin:auto;
}

header{
    @include proxyborder;
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;

    .menu-bar{
        @include proxyborder;
        width: 40%;
        display: flex;
        justify-content: space-between;
        a{
            @include font-700;
            color:$dark-blue;
            text-decoration: none;
            font-size: .8em;
        }
    }

    .ham-btn{
        display: none;
    }
}

.orang-btn{
    border: none;
    border-radius: 100px;
    background-color: $button;
    color:$white;
    padding: 14px 28px;
}


//each section is 1 screen height in height, and 80% wide. 




.intro{
    display:flex;
    .intro-1{
            order:1;

            h1{
                @include font-500;
                color: $text-blue;
                font-size: 3em;
            }
            
        }
        .intro-2{
            order:2;
            
            img{
                float:right;
                @include proxyborder;
            }
        }
        
}

.info{
.info-1{
            order:1;
        }
        .info-2{
            order:2;
            border:3px solid yellow;
            .info-2-section{
                @include proxyborder;
                float: right;
                width:80%;


                
            }
        }

}



.content{
    width: 100%;
    margin:auto;
    overflow: hidden;

    .section{
        width: 80%;
        margin:auto;
        display: flex;
        flex-direction: row;
    }

    .half{
        @include proxyborder;
        width:50%;
    }
}

.review-section{
    @include proxyborder;
    margin:auto;
    overflow:visible;
    position: relative;
    height:400px;
    .reviews-box{


        display: flex;
        flex-direction: row;

        .review{
            @include proxyborder;
            width:calc(100% * (3 / 5));
        }

    }


}





footer{
    background-color: $dark-blue;
    //.external-links{}

}



.attribution { 
    font-size: 11px; text-align: center;

    a { color: hsl(228, 45%, 44%); 
    }
 }
